.board {
    display: flex;
    width: 100%;
    min-width: 560px;
    background: darkblue;
  }
  
  .col {
    display: block;
    width: 30%;
    background: lightgrey;
    margin: 2%;
  }
  
  h3 {
    padding-left: 5px;
  }

  .add {
    cursor: pointer;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .task {
    display: flex;
    width: 100%;
    min-height: 30px;
    background: white;
    margin-bottom: 10px;
  }

  .crest {
    display: none;
    margin-left: auto;
    padding: 1px 3px;
    border: none;
    height: 25px;
    width: 25px;
    font-size: 22px;
    background-color: white;
    align-self: start;
}

  .task:hover crest {
    display: block;
  }
  
  .textarea {
    width: 95%;
    resize: vertical;
    max-height: 200px;
    overflow: hidden;
  }
  
  [data-id="list"] {
    list-style-type: none;
  }
  
.hidden {
  display: none;
}

.goal {
  background-color: lightgray;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 7px;
}

.task.dragged {
  position: absolute;
  z-index: 999;
  cursor: grabbing;
}

.task:hover .crest {
  display: block;
}